*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	border: none;
	outline: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}


nav{
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.049), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.main-proyect{
    width: 100%;
}
.integrantes{
    width: 85%;
    margin: 0 auto;
    margin-top: 20px;
    text-align: center;
}

.integrante{
    width: 25%;
    padding-top: 20px;
    padding-bottom: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.049), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    align-items: center;
    border-radius: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.nombre{
    margin-top: 10px;
    font-weight: bold;

}

.carnet{
    font-weight: 100;
}


.foto {
    width: 100px;
    border-radius: 50%;
    border: 5px solid rgb(255, 255, 255);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.049), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.container-integrantes{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.unidades{
    width: 85%;
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
    margin-bottom: 50px;
}

.unidad{
    width: 25%;
    padding-top: 20px;
    padding-bottom: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.049), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    align-items: center;
    border-radius: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.boton{
    width: 70%;
    background-color: rgb(93, 232, 102);
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    text-decoration: none;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
}

.container-unidad{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container-unidades{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.container-34{
    width: 25%;
    flex-direction: column;
    align-items: center;
}

.container-34-unidad{
    width: 100%;
    padding-top: 20px;
    padding-bottom: 50px;
    display: flex;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.049), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.unidad-5{
    width: 25%;
    padding-top: 20px;
    padding-bottom: 50px;
    height: 30%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.049), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    align-items: center;
    border-radius: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.container-secction{
    margin: 0 auto;
    text-align: center;
    background-color: rgb(244, 244, 245);
    padding: 30px;
}

.observaciones{
    background-color: rgb(255, 255, 255);
    width: 40%;
    padding: 30px;
    border-radius: 10px;
}

.lista{
    padding: 10px;
    font-size: 18px;
}

.container-observaciones{
    margin: 0 auto;
    width: 85%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 50px;

}

.titulo{
    padding: 20px;
    margin-bottom: 20px;
}